@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Dongle:wght@300;400;700&family=Nanum+Myeongjo:wght@700&family=Nanum+Pen+Script&display=swap");
@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  font-family: "Dongle", sans-serif;
}

#playing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 360px;
  height: 790px;
  background-color: white;
  margin: 20px auto;
  border-radius: 40px;
}
.playing-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  margin-top: 40px;
  font-size: 20px;
}

.playing-page-header i {
  display: flex;
}

.playing-page__album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.playing-page__album img {
  width: 270px;
  height: 270px;
  border-radius: 15px;
  box-shadow: 0px 10px 40px -10px tomato;
}

.playing-page__album h1 {
  margin-top: 45px;
  font-size: 40px;
  font-weight: 700;
}

.playing-page__album h2 {
  font-size: 25px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.playing-page__bar {
  display: flex;
  padding: 0px 15px;
  flex-direction: column;
  width: 100%;
}

.playing-page__bar__time {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
.playing-page__controll-btn {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  font-size: 20px;
}

.controll-btn__playing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  box-shadow: 0px 0px 40px -20px black;
  color: white;
  background-color: black;
  font-size: 25px;
}

.font-color__gray {
  color: rgba(0, 0, 0, 0.5);
}
